<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" type="text/css" href="homepage.component.css" />

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
		initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">

	<link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity=
"sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
		crossorigin="anonymous">
        	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity=
"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous">
</script>

<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity=
"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
</script>

<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity=
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
</script> 

    </head>

<body>
 <h1>WHAT DO YOU WANT TO CHOOSE?</h1>
    <br>
    <br>
<div class="card-group">
	<div class="container">
		<div class="row">
			 <div class="col-lg-6 mb-4"> 
				<div class="card mx-auto">					
                    <div class="card" style="width: 220%;">
                        <img class="card-img-top" src="https://www.shutterstock.com/image-vector/carpool-service-weekend-journey-young-260nw-1351060844.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">CAR POOL</h5>
                            <a href="#" class="btn btn-primary">Go To Car Pool</a>
                        </div>
                    </div>
				 </div> 
			</div>
			 <div class="col-lg-6 mb-4"> 
				<div class="card mx-auto">
                    <div class="card" style="width: 220%;">
                        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/thumbnails/010/167/831/small/car-rental-booking-reservation-and-sharing-using-service-mobile-application-with-route-or-points-location-in-hand-drawn-cartoon-flat-illustration-vector.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">CAR RENTAL</h5> 
                          <a href="#" class="btn btn-primary">Go To Car Rental</a>
                        </div>
				</div>
			 </div> 
		</div>
	</div>
</div>
</div>


</body>

</html>









